/* general */
  * {
      
      box-sizing: border-box;
 }

/* body */
body {
    font-family: sans-serif;
    font-size: 16px;
    background:#d8d8d8;
}

/* Header */
 
.main-header {
    
    
    text-align: center;
    background-color: white ;
    
 }
  .logo{
      vertical-align: middle;
  }

     
  /* layout */

  .conteiner {
      display: none;
      font-size: 60px;
      width: 1170px;
      margin: 0 auto;
    }
    
    .box {
        display: inline-block;
        width: 300px;
        height:300px;
        margin: 50px;



    }

    inline-box {
             width: 20px;
             height: 40px;
             background: dodgerblue
    } 
