/* general */
* {
      
    box-sizing: border-box;
    border-radius: 5px;
}

/* body */
body {
    font-family: sans-serif;
    font-size: 16px;
    background:#d8d8d8;
}

/* Header */
 
.main-header {
    
    
    text-align: left;
    background-color: white ;
    
 }
  .logo{
      vertical-align: middle;
  }

     
  .container {
      background-color: white;
      max-width: 1170px;
      height: 600px;
      margin: auto;
      border-radius: 5px;
  }
    
    .box {
        display: inline-block;
        width: 300px;
        height:300px;
        margin: 50px;



    }

    inline-box {
             width: 20px;
             height: 40px;
             background: dodgerblue
    } 
