/* general */
* {
      
    box-sizing: border-box;
    border-radius: 5px;
}

/* body */
body {
    font-family: papyrus ;
    font-size: 16px; 
    background:#d8d8d8;
}

/* Header */
 
.main-header {
    
    
    text-align: left;
    background-color: white ;
    
 }
  .logo{
      vertical-align: middle;
  }

     
  .container {
      background-color: white;
      max-width: 1170px;
      height: 600px;
      margin: auto;
      border-radius: 5px;
  }
    
   /*check*/
   .check {
       list-style: none;
       margin-bottom: 20px;
   }
  /*check-icon*/
 
  .check-icon {
      display: inline-block;
      width: 20px;
      height: 20px;
      vertical-align: middle;
      text-align: center;
      color:green;
      border: 1px solid green;
      border-radius: 50%;
  }

 /*remove-icon*/

 .remove-icon {
    display: inline-block;
    width: 22px;
    height: 22px;
    vertical-align: middle;
    text-align: center;
    color: red;
    border: 1px solid red;
    border-radius: 50%;
}

 